<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.jeju.admin.mapper.AdminMapper">

  <select id="getList" resultType="com.kgitbank.jeju.admin.dto.Admin">
    SELECT * FROM jeju_admin
  </select>
  <select id="getAdmin" resultType="com.kgitbank.jeju.admin.dto.Admin">
  	SELECT * FROM jeju_admin WHERE id = #{id}
  </select>
</mapper>