<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.jeju.admin.mapper.VisitMapper">

  <select id="getList" resultType="com.kgitbank.jeju.admin.dto.Visit">
  	SELECT * FROM visit
  </select>
  
  <select id="getTodayVisitCount" resultType="int">
    SELECT count(*) FROM visit 
    WHERE TO_CHAR(visit_date, 'YYYYMMDD') 
    LIKE TO_CHAR(SYSDATE, 'YYYYMMDD')
  </select>

  <select id="getTotalVisitCount" resultType="int">
    SELECT count(*) FROM visit
  </select>
  
  <select id="getDailyVisit" resultType="com.kgitbank.jeju.admin.dto.DailyVisit">
    SELECT * FROM (
		SELECT TO_CHAR(visit_date, 'YYYY/MM/DD') AS visit_date, COUNT(*) AS count
    	FROM visit 
    	GROUP BY TO_CHAR(visit_date, 'YYYY/MM/DD')
    ) 
    WHERE <![CDATA[ ROWNUM <= 10]]>
  </select>
	
  <insert id="addVisit">
    INSERT INTO visit
    VALUES(vi_id_seq.nextval, sysdate)
  </insert>
</mapper>