@charset "UTF-8";

.btn {
   margin-bottom: 1rem;
   letter-spacing: -0.025rem;
   text-transform: uppercase;
   box-shadow: 0 0.2rem 0.4rem -0.8rem rgba(0, 0, 0, 0.11), 0 0.8rem 1rem -0.8rem
      rgba(0, 0, 0, 0.07);
   background-size: 150%;
   background-position-x: 25%;
}

.center-box{
	background-color: white;
}

.btn-lg, .btn-group-lg>.btn {
   padding: 0.875rem 4rem;
   font-size: 0.875rem;
   border-radius: 0.5rem;
}

.btn-info, .btn.bg-gradient-info {
   color: #fff;
}

.btn-info:hover, .btn.bg-gradient-info:hover {
   color: #fff;
}

.bg-gradient-info {
   background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
}
.btn.bg-gradient-danger:hover {
  background-color: #ea0606;
  border-color: #ea0606; }
 
.bg-gradient-danger {
  background-image: linear-gradient(310deg, #ea0606 0%, #ff667c 100%);
 }

.btn-danger .btn.bg-outline-danger,
.btn.bg-gradient-danger .btn.bg-outline-danger {
  border: 0.8rem solid #ea0606; }


.btn.bg-gradient-warning:hover {
  background-color: #fbcf33;
  border-color: #fbcf33; }

.btn.bg-gradient-warning .btn.bg-outline-warning {
  border: 0.7rem solid #fbcf33; }

.bg-gradient-warning {
  background-image: linear-gradient(310deg, #f53939 0%, #fbcf33 100%); }
  
.btn-90 {
  width: 90% !important; }
  

  
 /* 버튼 박스 ===================================================================== */ 
.btn-box{
   display: flex;
   flex-direction: column;
   position: relative;
   z-index: 980;
   top: -60rem;
   width: 13rem;
   margin: 1.5rem;
}
    
#useMethodBtn{
   position: relative;
   border: 0;
   outline: 0;
}

#rollbackBtn{
   position: relative;
   border: 0;
   outline: 0;
}

#enrollRestaurantBtn{
   position: relative;
   border: 0;
   outline: 0;
}

#enrollSpotBtn{
   position: relative;
   border: 0;
   outline: 0;
}

#jsonImg{
   height: 4.375rem;  
}
#jsonTitle {
	width: 80%;
    height: 40%;
    overflow: hidden;
}
#jsonData:hover #jsonTitle{
	width: 100%;
	overflow: visible;
}
#jsonLocation{
   color: #1d809f; 
   font-size: 0.75 rem;
}

#img-size{
   width:7.5rem;
   height: 4.375rem;
}

.cardSmallBtn {
   border : none;
   outline : none;
   background-color : white;
}

.rightCardSmallBtn {
   border : none;
   outline : none;
   background-color : white;
   
}

.select-btn-style{
   background-color: #FFFFFF; 
   opacity: 0.8; 
   color: #242424;
   font-weight: 600;
}

.customoverlay {
	position:relative;
	bottom:2.8125rem;
	border-radius:0.375rem;
	border: 0.0625rem solid #ccc;
	border-bottom:0.125rem solid #ddd;
	float:left;}
.customoverlay:nth-of-type(n) {
	border:0; box-shadow:0px 0.0625rem 0.125rem #888;}
.customoverlay a {
	display:block;
	text-decoration:none;
	color:#000;text-align:center;
	border-radius:0.375rem;
	font-size:0.75rem;
	font-weight:bold;
	overflow:hidden;
	background:#3ec5f1;
	background: #3ec5f1 no-repeat right 0.875rem center;}
.customoverlay .title {
	display:inline;
	text-align:center;
	background:#fff;
	padding:0.5rem 0.8125rem;
	font-size:0.8125rem;
	font-weight:bold;}
.customoverlay:after {
	content:'';
	position:absolute;
	margin-left: -0.75rem;
	left:50%;
	bottom:-0.75rem;
	width: 1.25rem;
	height:0.75rem;
	background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.customoverlay #numbers{
	padding : 0.1875rem 0.1875rem;
}
@media (max-width: 1500px){
	#jsonTitle {
	width: 100%;
    height: 40%;
    overflow: hidden;
	}
}