@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
   font-family: 'Noto Sans KR', sans-serif;
   box-sizing: border-box;
}
a { 
	text-decoration:none;
	color: black; 
}

body{
   padding: 0;
   margin: 0;
   overflow: hidden;
}

.courseZero_margin90{
   height: 5.5rem;
   
}

.right-margin90{
   width: 5.5rem;
}

.courseTopbar{
   display: grid;
   grid-template-columns: 0.5fr 2.5fr 1.4fr 1.5fr 0.1fr;
   position: fixed;
   width: 100%;
   height: 5.5rem;
   background-color:rgba(255, 255, 255, 0.95);
   color: black;
   box-shadow: 0 0 4px gray;
   z-index: 980;
}

.courseLogoBox{
   display: flex;
   flex-direction: row;   
}

.courseLogoBox > :first-child{
   font-size : 2.5rem;
   font-weight : 700;
   vertical-align : middle;
   margin-top : 0.6rem;
}

.courseLogoBox > :nth-child(2){
   font-size : 0.9rem;
   font-weight : 100;
   color : gray;
   vertical-align : middle;
   margin-top : 2.0rem;
   padding-left : 0.6rem;
}

.courseTopbar > :nth-child(3){
   font-size : 2.5rem;
   font-weight : 400;
   vertical-align : middle;
   height : 5.5rem;
   margin-top : 1.2rem;
   margin-left : 1rem;
}

.courseLogoBox > .menu{
   font-size : 1.0rem;
   font-weight : 100;
   color: #212529;
   vertical-align: middle;
   height : 3.0rem;
   margin-right: 0.7rem;
   margin-top : 2.0rem;
}

.card-main {
   height: 4.5rem;
   padding:0;
}
.direction{
	display: flex;
    flex-direction: row;
    flex: 6.7 0.3;
}

.card-text { 
 text-align : left;
 margin-top: 1rem;
  margin-left: 1rem;
 
}

.card-text > :nth-child(2){ 
 font-size: 0.4rem;
 color: #1d809f ;
}

.card-btn{
	margin-top:1.4rem;
	 margin-left: 0.5rem;
}

#card-plus-btn {
   border : 0;
   outline : 0;
   background-color : white;
   height : 2rem;
}

.courseGridContainer {
    display: grid;
    grid-template-columns: 1.3fr 4.8fr 1.3fr;  
}

.courseSelectList{
	background-color: #f3f3f3; 
}

@media (max-width: 1400px){
.courseTopbar{
   display: grid;
    grid-template-columns: 0fr 1fr 0fr 1fr;
   position: fixed;
   width: 100%;
   height: 5.5rem;
   background-color:rgba(255, 255, 255, 0.95);
   color: black;
   box-shadow: 0 0 0.2rem gray;
   z-index: 1050;
  
}



.courseTopbar > :first-child {
   padding-left:5rem;
}

.courseLogoBox > :first-child{
   font-size : 2.5rem;
   font-weight : 700;
   vertical-align : middle;
   margin-top : 0.6rem;
   padding-left: 0px;
}

.courseTopbar > :last-child{
   margin-left: 0.5rem;
}

.courseLogoBox > .menu{
   font-size : 0.9rem;
   font-weight : 100;
   color: #212529;
   vertical-align: middle;
   height : 1.7rem;
   margin-right: 1.2rem;
   margin-top : 2rem;
}

.card-main {
   padding:0;
   height: 9rem;
   align-items: center;
}

.direction{
	display: flex;
    flex-direction: column;
    flex: 1;
}
.direction > :first-child{
	width:100%;
	align-items: center;
	margin-left:3.5rem;
}

#card-plus-btn {
   border : 0;
   outline : 0;
   margin-top: 1.5rem;
   background-color : white;
   height : 1rem;
}

.card-text {
 text-align : center;
 margin-top: 0.4rem;
 width: 100%;
 
}

.card-btn{
	width: 100%;
 margin-top : 0.1rem;
 align-items: center;
 margin-left: 0.5rem;
}

}
@media (max-width: 850px){
.courseTopbar{
   display: grid;
    grid-template-columns: 0fr 1fr 0fr 1fr;
   position: fixed;
   width: 100%;
   height: 5.5rem;
   background-color:rgba(255, 255, 255, 0.95);
   color: black;
   box-shadow: 0 0 0.2rem gray;
   z-index: 1050;
}

.courseTopbar > :first-child {
   padding-left:1rem;
}

.courseLogoBox > :first-child{
   font-size : 2.0rem;
   font-weight : 700;
   vertical-align : middle;
   margin-top : 0.6rem;
   padding-left: 0px;
}

.courseTopbar > :last-child{
   margin-left: 0.5rem;
}

.courseLogoBox > .menu{
   font-size : 0.7rem;
   font-weight : 100;
   color: #212529;
   vertical-align: middle;
   height : 1.7rem;
   margin-right: 1.2rem;
   margin-top : 2rem;
}

.card-main {
   padding:0;
   height: 10.5rem;
}

.direction{
	display: flex;
    flex-direction: column;
    flex: 1;
}

#card-plus-btn {
   border : 0;
   outline : 0;
   margin-top: 1rem;
   background-color : white;
   height : 2.5rem;
}

.card-text {
 text-align : center;
 margin-top: 0.4rem;
 margin-left: -0.1rem;
 margin-bottom: -2.5rem;
 
}
.direction > :first-child{
	align-items: center;
	margin-left:0rem;
}

.card-btn{
margin-top: 2.6rem; 
 margin-left: 0rem;
 align-items: center;
 
}

}