@charset "UTF-8";

.right-box{
	background-color: rgb(245,245,245);
}

#right-box1{
   width:100%;
   padding: 0.5rem 0rem;
   display: flex;
}

#right-box1 > input{

   border:none;
   background-color: white;
   width: 86%;
   text-align: left;
   padding-left: 1rem;
   height: 3rem;
   color: gray;
}

#right-box1 > input:focus{
   outline:none;
   
}

#right-box1 > input::placeholder {
  color: lightgray;
  font-style: italic;
}

#right-box1 > #magBtn{
   width:14%;
   border: none;
   cursor:pointer;
   height: 3rem;
   color: #1d809f;
   background-color:white;
   font-size:1.5rem;
   
}

#right-box1 > #magBtn:focus{
   outline:none;
}

#right-box2{
   text-align: center;
   display: flex;
    justify-content: space-around;
    padding: 0.4rem 0;
}

#right-box2 > button{
   outline:none;
}
#right-box2 > #restaurantBtn,#spotBtn{
   width:50%;
   height: 3rem;
   outline: 0;
   border: 0;
   background-color: white;
}

#right-box2 > #restaurantBtn:focus{
   background-color: #1d809f ;
   color: #ffffff;
}

#right-box2 > #spotBtn:focus{
   background-color: #1d809f ;
   color: #ffffff;
}

#right-box3{
   text-align : center;
   overflow-x: hidden;
   overflow-y: scroll;
   height: 35%;
}

.sidebarPadding {
   padding: 1.6rem 1rem 0rem 1rem;
}

.sidebar-section-title {
   font-size: 0.95rem;
   margin: 0.7rem;
   text-align: center;
}
@media (max-width: 1500px){
#right-box1{
   width:100%;
   padding: 0.5rem 0rem;
   display: flex; 
}

#right-box1 > #magBtn{
   width:14%;
   cursor:pointer;
   padding: none;
   height: 3rem;
   color: #1d809f;
   background-color:white;
   margin-right: 0.2rem;
   font-size:1.0rem;
   
}

.sidebar-section-title {
   font-size: 0.95rem;
   margin: 0.7rem;
   text-align: center;
}
#right-box2 > #restaurantBtn,#spotBtn{
   width:50%;
   height: 3rem;
   outline: 0;
   border: 0;
   background-color: white;
   font-size: 0.8rem;
}

#right-box3{
text-align : center;
   overflow-y: scroll;
   height: 500px;
}
}