body .no-padding {
	padding-left: 0;
	padding-right: 0;
}

/* nav dropdown */
.navbar .nav-item span {
    position: relative;
    top: 3px;
}
.navbar .navbar-nav > a {
    color: #efe5ff;
    padding: 8px 15px;
    font-size: 14px;		
}
.navbar .navbar-nav > a:hover, .navbar .navbar-nav > a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255,255,255,0.3);
}


.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -11px;
}
.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
    color: #fff;
    background: none !important;
}
.navbar .dropdown-menu {
	margin-left: -3rem;
    border-radius: 1px;
    border-color: #e5e5e5;
}
.navbar .dropdown-menu a {
    color: #777 !important;
    padding: 8px 20px;
    line-height: normal;
    font-size: 15px;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
    color: #333 !important;
    background: transparent !important;
}
.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255,255,255,0.2);
    background: transparent !important;
}
.navbar .navbar-nav .user-action {
    padding-top: 9px ;
    font-size: 15px;
}
.navbar .navbar-toggle {
    border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
    background: #fff;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
    background: #faf7fd;
    border-radius: 1px;
    border-color: #faf7fd;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .divider {
    background-color: #e9ecef !important;
}
/* course */
#services {
	padding-bottom: 0;
}
.svg-water-animation {
	overflow: hidden;
	position: relative;
	height: 200px;
}
.water-background {
	position: absolute;
	left: 0;
	bottom: 0;
}
.water-fill {
  	animation: wave 0.7s infinite linear, 
             fill-up 10s infinite ease-out alternate;
}

@keyframes wave {
  0% { x: -400px; }
  100% { x: 0; }
}


@keyframes fill-up {
  0% {
    height: 100px;
    y: 200px;
  }
  100% {
    height: 200px;
    y: -30px;
  }
}

/*map*/
#map {
	margin: 3rem 0 0 5rem;
	width: calc(50% - 5rem); 
	height: 350px;
}

.showcase-text h2 {
	line-height: 1.6;
}
.login-btn {
	width: 250px;
	height: 50px;
	padding: 0;
	float: right;
    margin: 4rem 3rem 0 0;
}
.login-btn a {
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

/* carousel */
.col-md-3 {
	display: inline-block;
	margin-left: -4px;
}
.col-md-3 a {
	display: block;
	width: 100%;
	height: 100%;
}
.col-md-3 img {
	width: 100%;
	height: auto;
}

body .carousel-indicators li {
	background-color: black;
}

body .carousel-indicators {
	bottom: 0;
}

body .carousel-control-prev-icon, body .carousel-control-next-icon {
	background-color: black;
}
.carousel-item img{
	width: 100%;
	height: 200px;
}

/*reservation*/
#reservation .row .col-lg-6 .portfolio-item{
	overflow: hidden;
	height: 350px;
}
#reservation .row .col-lg-6 .portfolio-item img {
	width: 100%;
	height: 350px;
}

/*best pick*/ 
#bestpick {
	height: 500px;
}

/* quiz */ 
.far.fa-question-circle:hover {
	cursor: pointer;
}
.slider_list {
	width: auto; 
	height: auto; 
	overflow: visible;
}
li#on {
	margin: 48px; 
}
.mySlides {
	float: none; 
	position: absolute; 
	top: 0px; 
	width: 400px; 
	left: 0px; 
	transition: none 0s ease 0s; 
	transform: translate3d(0px, 0px, 0px);
}
/* footer */

@media (max-width: 975px) {
	.navbar .dropdown-menu {
		margin-left: 0;
	}
	#map {
		margin-left: 0;
		width: 100%;
	}
}