<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.jeju.mapper.FamousRestaurantMapper">

  <select id="list" resultType="com.kgitbank.jeju.dto.FamousRestaurant">
    SELECT * FROM famous_restaurant INNER JOIN user_info USING (user_id)
  </select>
 
   <select id="listByUser" resultType="com.kgitbank.jeju.dto.FamousRestaurant">
    SELECT * FROM famous_restaurant INNER JOIN user_info USING (user_id)
  </select>

  <select id="listView" resultType="com.kgitbank.jeju.dto.FamousRestaurant">
    SELECT * FROM restaurantboard_view 
    WHERE famous_restaurant_id = #{famous_restaurant_id} 
  </select>
  
  <insert id="addRestaurant">
    INSERT INTO famous_restaurant(famous_restaurant_id,
    name, user_id, title, image, description, hashtag, location,  
 	latitude, longitude, registration_time )
    VALUES(FR_ID_SEQ.nextval, #{name}, #{user_id}, #{title}, 
    		#{image}, #{description}, #{hashtag}, 
    		#{location}, #{latitude}, #{longitude}, sysdate)
  </insert>
  
   <select id="famousList" resultType="com.kgitbank.jeju.dto.FamousRestaurant">
        select title, image, positive_num, latitude, longitude from famous_restaurant ORDER BY positive_num DESC
    </select>
   
    <select id="getFamous" resultType="com.kgitbank.jeju.dto.FamousRestaurant">
        select title, image, positive_num, latitude, longitude from famous_restaurant WHERE title =#{title}
    </select>
    
    <select id="getRestSearch" resultType="com.kgitbank.jeju.dto.FamousRestaurant">
		SELECT * FROM famous_restaurant WHERE title Like '%'||#{textValue}||'%'
	</select>
	
	<select id="polygonSearch" resultType="com.kgitbank.jeju.dto.FamousRestaurant">
		SELECT * FROM famous_restaurant WHERE address = #{textValue}
	</select>
	
	 <update id="addDTORestPositiveNum" >
	 UPDATE famous_restaurant SET positive_num  = positive_num +1
	 WHERE famous_restaurant_id = #{id} 
	 </update>
	 
	 <select id="getListByRestPositiveNum" resultType="com.kgitbank.jeju.dto.FamousRestaurant">
	 	SELECT * FROM famous_restaurant WHERE famous_restaurant_id = #{id}
	 </select>
</mapper>