<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.jeju.mapper.SpotAndRestaurantXMLMapper">
	
	<select id="getItem" resultType="com.kgitbank.jeju.dto.SpotAndRestaurant">
		SELECT title, image, positive_num, latitude, longitude FROM 
		(SELECT title, image, positive_num, latitude, longitude FROM tourist_spot 
		UNION SELECT title, image, positive_num, latitude, longitude FROM famous_restaurant)WHERE title = #{title}
	</select>
	<select id="getSearch" resultType="com.kgitbank.jeju.dto.SpotAndRestaurant">
		SELECT title, image, positive_num, latitude, longitude FROM 
		(SELECT title, image, positive_num, latitude, longitude FROM tourist_spot 
		UNION SELECT title, image, positive_num, latitude, longitude FROM famous_restaurant)WHERE title LIKE '%'||#{textValue}||'%'
	</select>

</mapper>