<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kgitbank.jeju.mapper.TouristSpotMapper">

    <select id="listTourist" resultType="com.kgitbank.jeju.dto.TouristSpot">
        select * from tourist_spot INNER JOIN user_info USING (user_id)
    </select>
    <select id="listOrderByLike" resultType="com.kgitbank.jeju.dto.TouristSpot">
    	select * from tourist_spot ORDER BY positive_num DESC
    </select>
    
    <select id="courseList" resultType="com.kgitbank.jeju.dto.TouristSpot">
        select title, image, positive_num, latitude, longitude from tourist_spot ORDER BY positive_num DESC
    </select>
   
    <select id="searchSpot" resultType="com.kgitbank.jeju.dto.TouristSpot">
        select title, image, positive_num, latitude, longitude from tourist_spot WHERE title =#{title}
    </select>
    
    
    <insert id="addTourist">
    INSERT INTO tourist_spot(
    tourist_spot_id,
    name,
    title,
    description,
    location_id,
    image,
    hashtag,
    latitude,
    longitude,
    user_id, registration_time) 
    VALUES(
    <!-- db에 시퀀스 넣어주기 -->
    ts_id_seq.nextval,
    #{name},
    #{title},
    #{description},
    #{location_id },
    #{image },
    #{hashtag},
    #{latitude},
    #{longitude},
    #{user_id}, sysdate
    )
    </insert>
	
	<select id="listById" resultType="com.kgitbank.jeju.dto.TouristSpot">
	SELECT * FROM tourist_spot 
	 WHERE tourist_spot_id = #{tourist_spot_id}
	 </select>
	 
	 <select id="listView" resultType="com.kgitbank.jeju.dto.TouristSpot">
	SELECT * FROM touristboard_view 
	 WHERE tourist_spot_id = #{tourist_spot_id}
	 </select>
	 
	 <select id="listByUserd" resultType="com.kgitbank.jeju.dto.TouristSpot">
	SELECT * FROM tourist_spot INNER JOIN user_info USING(user_id)
	WHERE user_id = #{user_id}
	 </select>
	 
	 <!-- ddl 에  view cnt 넣어주기 -->
	
	
	<select id="listPositive">
	SELECT  positive_num FROM tourist_spot
	 WHERE tourist_spot_id = #{tourist_spot_id} 
	 </select> 
	 
	 <update id="addPositive">
	 UPDATE tourist_spot SET positive_num  = positive_num +1
	 WHERE tourist_spot_id = #{tourist_spot_id} 
	 </update> 
	
	
	<update id="updateTourist">
	UPDATE tourist_spot SET
	name = #{name},
	title = #{title},
	description=#{description},
	image=#{image}
	</update>
	
	<delete id="deleteTourist">
	DELETE FROM tourist_spot
	WHERE tourist_spot_id = #{tourist_spot_id}
	</delete>
	

	<select id="getSpotSearch" resultType="com.kgitbank.jeju.dto.TouristSpot">
		SELECT * FROM tourist_spot WHERE title Like '%'||#{textValue}||'%'
	</select>
	
	 <update id="addLike" >
	 UPDATE tourist_spot SET positive_num  = positive_num +1
	 WHERE tourist_spot_id = #{id} 
	 </update>
	 
	 <select id="getLike" resultType="com.kgitbank.jeju.dto.TouristSpot">
	 	SELECT * FROM tourist_spot WHERE tourist_spot_id = #{id}
	 </select>
	 
</mapper>